@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #030728;
}

body h1{
    color: #fff;
    margin: 1rem;
}

.slider-wraper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item{
    color: #fff;
    user-select: none;
    width: 350px;
    max-width: 350px;
    height: 500px;
    max-height: 500px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 8px;
    backdrop-filter: rgba(255, 255, 255, 0.2);;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-title,
.card-institution,
.card-institutedBy{
    margin-bottom: 1rem;
}

.swiper .swiper-pagination-bullet {
    background: #fff;
    height: 15px;
    width: 15px;
}

.swiper .swiper-button{
    color: #fff;
    margin-top: -50px;
    transition: 0.2s ease;
}

.swiper .swiper-button:hover{
    color: #4658ff;
}

@media (max-width: 768px){

    .slider-wraper{
        margin: 0 10px 10px;
    }

    .swiper .swiper-button {
        display: none;
    }
}